<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
</head>
<body>
    <h1><%=product.name%></h1>
    <ul>
        <li>price: <%=product.price%></li>
        <li>category: <a href="/products?category=<%=product.category%>"><%=product.category%></a></li>
    </ul>

    <div class="btn__container">
        <button class="home__btn"><a href="/products">Home</a></button>
        <button class="edit__btn"><a href="/products/<%=product._id%>/edit">Edit</a></button>
        <form method="POST" action="/products/<%=product._id%>?_method=DELETE">
            <button>delete</button>
        </form>
    </div>
</body>
</html>